<div class="container col-md-8" >
<div class="spinner-border text-primary" role="status" >
  <span class="sr-only">Loading...</span>
</div>

  <div class="card" *ngFor="let post of posts">
    <div class="card-header">{{post.title}}</div>
    <div class="card-body"><p>{{post.content}}</p></div>
    <div class="card-footer">
      <div class="btn-toolbar">
        <a class="btn btn-warning" [routerLink]="['/edit', post.id]">Edit</a>
        <a class="btn btn-danger" (click)="onDelete(post.id)">Delete</a>
      </div>
    </div>
  </div>

<div class="p-3 mb-2 bg-light text-dark" *ngIf="posts.length <= 0">No Comment</div>
</div>

<!--<mat-accordion multi="true" *ngIf="posts.length > 0">-->
<!--  <mat-expansion-panel *ngFor="let post of posts">-->
<!--    <mat-expansion-panel-header>-->
<!--      {{ post.title }}-->
<!--    </mat-expansion-panel-header>-->
<!--    <p>{{ post.content }}</p>-->
<!--    <mat-action-row>-->
<!--      <button mat-button color="primary">EDIT</button>-->
<!--      <button mat-button color="warn">DELETE</button>-->
<!--    </mat-action-row>-->
<!--  </mat-expansion-panel>-->
<!--</mat-accordion>-->
<!--<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet!</p>-->
